body{
    margin: 0;
    padding: 0;

    background-image: url(/docs/assets/Images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

#canvas-screen{
   height: 55vh;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20vh;
    left: 50vh;
}

#game-title{
    width: 80vw;
}

.visibility{
    visibility: hidden;
    display: none;
}

#start-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 4vw;
    margin-top: 10vh;
}

#start-button > button {
    background-color: rgba(48, 6, 6, 0.23);
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border: 3px solid rgb(2, 69, 121);
    box-shadow: 10px -10px 10px 5px rgba(0, 0, 0, 0.459);
    padding-top: 10px;
}

#start-button__image {
    width: 20vw;
}

