body{
    margin: 0;
    padding: 0;

    background-image: url(/docs/assets/Images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

#canvas-screen{
   height: 55vh;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20vh;
    left: 50vh;
}

#game-title{
    width: 80vw;
}

.visibility{
    visibility: hidden;
    display: none;
}

#start-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 4vw;
    margin-top: 10vh;
}

#start-button__image {
    width: 20vw;
}

